# Project exclude paths
/.gradle/
/build/
/common/build/
/common/build/classes/java/main/
/legacy/build/
/legacy/build/classes/java/main/
/modern/build/
/modern/build/classes/java/main/
# Project exclude paths
/bukkit/build/
/bukkit/build/classes/java/main/
/jda/build/
/jda/build/classes/java/main/